

.header {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  border-bottom: 2px solid rgb(237, 234, 234);
  background-color: #ffffff;
  color: white;
  display: flex;
  flex-direction: row;
  /* text-align: center; */
  align-items: center;
  justify-content: space-evenly;
  padding: 0px 0;
  /* z-index: 1000; */
}
.below-header{
  display: flex;
  gap: 40px;
  flex-direction: column;
  margin-top: 10%;
}

.logo {
  width: 130px;
  height: 50px;
}
.ul-list {
  flex-wrap: nowrap;
  cursor: pointer;
  display: flex;
  color: #353a47;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 700px;


  li {
    display: flex;
    align-items: center;
  }
}
.listandarrow{

  display:flex;

}
.ul-list :hover {
  transition: color 0.15s;
  color: #2dc558;
}
.image-container {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  cursor: pointer;
}

.icon-image {
  display: flex;
  position: relative;
  top: 3px;
  left: 5px;
  width: 17px;
  height: 17px;
  transition: transform 0.3s ease-in-out; /* Smooth rotation transition */
}
.image-container:hover .icon-image {
  transform: rotate(180deg); /* Rotates the image 360 degrees */
}

.hover-card {
  display: none;
  position: absolute;
  top: 12px;

  margin-top: 15px;
  align-items: start;
  padding: 12px;
  background-color: white;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(-20px); /* Move card upwards initially */
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  pointer-events: none;
}
.image-container:hover .hover-card {
  display: flex;
  flex-direction: column;
  width: 200px;
  font-size: 16px;
  font-weight: 400;
  margin-top: 2%;
  color: #666;
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.header-btn {
 
  margin: 20px 7px;
  padding-left: 32px;
}
.login-btn {
  display: flex;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: #333;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 1px 15px;
  align-items: center;
}
.signup-btn {
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  display: flex;
  box-shadow: 0 0 #00c3603d;
  background-color: #39b75d;
  border-radius: 4px;
  padding: 0px 15px;
  justify-content: end;
  align-items: center;
}

.main-banner {
  display: flex;
  /* margin-top: %; */
  /* margin-left: 10%; */
  flex-direction: column;
  justify-content: center;
  align-items: center;

 
}
.main-banner-wrapper {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  row-gap: 20px;
  /* flex-wrap: wrap; */
 
  /* width: 300px; */
  
}
.check-mark {
  gap: 12px;
  display: flex;
  flex-direction: column;
}
.markimg {
  width: 14px;
  height: 14px;
}
.mark {
 

  align-items: center;
  display: flex;
  padding-top: 5px;
  gap: 8px;
}
.main-banner-btn {
  height: 50px;
  /* justify-content: center; */
 

  display: flex;
  flex-direction: row;
  gap: 10px;
}
.startbtn {
 
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  box-shadow: 0 0 #00c3603d;
  background-color: #39b75d;
  border-radius: 3px;
  padding: 12px 32px;
}
.playbtn {
 
  gap: 4px;
  color: #353a47;
  font-weight: 500;
  cursor: pointer;
  align-items: center;
  display: flex;
  background-color: rgb(237, 235, 237);
  border-radius: 3px;
  padding: 12px 32px;
}
.features {
  /* margin-top: 5%; */

  width: 340px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 12px;
}
.features-wrapper {
 
  display: flex;
  justify-content: space-evenly;
  padding: 0px 43px;
}
.how-its-work {
 
  display: flex;
  flex-direction: column;
 margin: 0px auto;

  justify-content: center;
  width: 600px;  
  gap: 32px;
  p {
    color: "#485256";
  }
}
.clothes {
 
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
  /* padding: 30px 120px; */
}
.clothe {
  display: flex;

  width: 320px;
  flex-direction: column;
  /* gap: 12px; */
  /* padding: 3px 32px; */
}
.talk-to-sales {
 
  display: flex;
  margin: 5% auto;
  justify-content: space-around;
  align-items: center;
  /* margin: 2% auto; */
  width: 70%;
  height: 100px;
  background-size: 50%;
  background-image: url("https://printify.com/pfh/media/talk-to-sales-N2GDBAGC.svg");
  background-repeat: no-repeat;
  background-position: 550px 0px;
  background-color: #e2f7e3;
  /* padding-left: 33px; */
  background-clip: content-box;
  border-radius: 20px;
  font-weight: 500;
}
.talktosalestext {

  width: 400px;
  color: #1f6b45;
  font-weight: 700;
  padding-left:12px;
}
.talktosale-btn {
  cursor: pointer;
  background-color: white;
  padding: 14px 14px;
  border-radius: 5px;
  font-weight: 500;
  color: black;
}
.talktosale-btn :hover {
   color: #39b75d;
}
.social-proof {

  justify-content: center;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
}
.social-proof-wrapper {
  display: flex;
  gap: 20px;
  margin: 0px 5%;
  justify-content: center;
}

.social-proof-heading {
  /* height: 168px; */
 
  display: flex;
  flex-direction: row;
  width: 350px;
  align-items: center;
}
.slider{
  height: auto;
}
.slider-container {
  margin-top: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05); 
}


.img-name-rating {
  display: flex;
  align-items: center;
}



.rating img {
  width: 20px;
  margin-right: 5px;
}



.slick-dots li button:before {
  color: black;
}

.slider-wrapper {
  margin: 0px 5%;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.card {
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 16px auto;
  background-color: #fff;
}
.img-name-rating {
  gap: 12px;
  display: flex;
  flex-direction: row;
}


.profile-img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 16px;
}



.card-name {
 
  align-items: start;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.text-sm {
  font-size: 14px;
  color: #333;
}

.rating {
  display: flex;
  gap: 4px;
  margin-top: 4px;
}

.rating img {
  width: 20px;
  height: 20px;
}
.card-para {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
  margin-top: 16px;
}

.finacials-wapper {
  flex-direction: column;
  background-color: #203741;
  padding: 5.8%;
  border-radius: 20px;
  width: 1137.2px;
  display: flex;
  margin: 0px auto;
  gap: 30px;
}
.financials-title {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 12px;
  /* width: 100vw; */
  color: #fff;
 
}

.financials_explantion-table {


  background-color: #17262b;
  border-radius: 10px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  
}
.financials_explantion-table-row {
  color: #fff;
  font-weight: 500;
  display: flex;

  justify-content: space-between;
  line-height: 24px;
}
.financials_explantion-your-profit {
  color: #39b75d;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  line-height: 24px;
  
}
.start-selling {
  width: 80%;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.start-selling-btn {
  display: inline-block;
  width: 144px;
  color: #fff;
  background-color: #39b75d;
  box-shadow: 0 0 #00c3603d;
  padding: 4px 23px;
  border-radius: 4px;
}

.footer-class-icon {
  justify-content: space-around;
  align-items: center;
  padding: 12px ;
  /* margin: 0px 119px;
  padding: 0px 32px; */

  display: flex;
}

.icons {

  display: flex;
  gap: 12px;
}
.footer-icon {
  width: 32px;
  height: 32px;
}
.footer-integration {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.footer-content {
  margin-top: 10%;
  margin-bottom: 5%;
  justify-content: space-evenly;
  display: flex;

}
.footer-lists {
  cursor: pointer;
  color: #353a47;
  display: flex;
  flex-direction: column;
  row-gap: 7px;
  margin-bottom: 15%;
}
.footer-lists :hover {
  color: #39b75d;
}
.footer-copyright {
  background-color: #f7f7f7;
  padding: 22px 2px;
  align-items: center;
  text-align: center;
}
.copyrights {
  cursor: pointer;
  font-weight: 5 00;
  display: flex;
  justify-content: center;
  gap: 30px;
  color: #949494;
  font-size: 13px;
  line-height: 18px;
  padding: 12px 12px;
}


@media only screen and (max-width: 1300px){
  
.header{

  width: 100%;
}
  .header-btn {
    display: flex;
  }
 
  .ul-list {
    gap: 10px;
  }

  .signup-btn {
    padding: 8px 16px;
  }
 
  .ul-list {
    /* flex-direction: column; */
    gap: 20px;
    margin-top: 10px;
    width: 100%;
  }

  /* Hide navigation links initially and show them when menu is opened */
  /* .ul-list.hidden {
    display: none;
  } */

  .ul-list.block {
    display: flex;
    align-items: center;
  }

  .header-btn {
    flex-direction: row ;
    gap: 10px;
  }
  .talk-to-sales
  {
    width: 70%;
  }

  .finacials-wapper{
    width: 90vw;
  }
  .social-proof-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
 
  }
  .footer-class-icon {
    display: flex;
    justify-content: space-between

  }
  .social-proof-heading{
    width: 300px;
  }
  .clothe{
  
    width: 500px;
    align-items: center;
    padding: 24px;
  }
  .talk-to-sales{
    width: 80%;
    background-size: 60%;
  background-image: url("https://printify.com/pfh/media/talk-to-sales-N2GDBAGC.svg");
  background-repeat: no-repeat;
  background-position: 400px 0px;
  background-color: #e2f7e3;
  background-clip: content-box;
  }
 
}
@media only screen and (max-width: 1024px){
  .close-menu-text{
  
    color: #000000;
    font-weight: 700;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 12px;
    
  }
  .closebtn{
   
    position: relative;
    top: 5px;
  }
  .menu-btn {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
  }
  .ul-list.block{
    display: flex;
  
    flex-direction: column;
    row-gap: 40px;
    justify-content: start;
    align-items: start;
    li{
      font-size: 23px;
      font-weight: 500;
    }
    .listandarrow{
      width: 200px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  
  }

  .footer-content{
  
    display: flex;
    flex-wrap: wrap;
  } 

  .features{
  
    width: 500px;
  }
  .talk-to-sales{
    width: 80%;
    background-size: 60%;
  background-image: url("https://printify.com/pfh/media/talk-to-sales-N2GDBAGC.svg");
  background-repeat: no-repeat;
  background-position: 320px 0px;
  background-color: #e2f7e3;
  background-clip: content-box;
  }
  .main-banner-wrapper{
  
    margin-top: 10%;
    display: flex;
    justify-content: center;
  
  }
  }
@media only screen and (max-width: 750px){
  /* .finacials{
    width: 100%;
    /* margin: 12px 20px ; */
  /* }  */
  .how-its-work{
   
    display: flex;
    flex-wrap: wrap;
  
    width: 70%;

  }
  .talk-to-sales{
    width: 80%;
    background-size: 60%;
  background-image: url("https://printify.com/pfh/media/talk-to-sales-N2GDBAGC.svg");
  background-repeat: no-repeat;
  background-position: 300px 0px;
  background-color: #e2f7e3;
  background-clip: content-box;
  /* border: 2px solid greenyellow; */
 
  }
  .talktosalestext{
    font-size: 19px;
  }
  .talktosale-btn{
  
    padding: 11px 1px;
    margin-right: 12px;
  }
  .talktosalestext{
    /* padding: 12px; */
    padding-left: 12px;
  }
  .footer-class-icon{
    display: flex;
    flex-wrap: wrap;
  }
  .footer-icon{
    /* border: 2px solid ; */
    display: flex;
    gap: 3px;
  }
  .signupbtn{
    padding:0px ;
  }
}
@media only screen and (max-width:650px){
  .talk-to-sales{
    width: 80%;
    background-size: 64%;
  background-image: url("https://printify.com/pfh/media/talk-to-sales-N2GDBAGC.svg");
  background-repeat: no-repeat;
  background-position: 230px 0px;
  background-color: #e2f7e3;
  background-clip: content-box;
  }
  .talktosale-btn{
  
     padding: 9px 4px;
     width: 124px;
     /* margin-right: 12px;  */
    }
  }
    @media only screen and (max-width:600px){
      .talk-to-sales{
        width: 80%;
        background-size: 80%;
        background-image: url("https://printify.com/pfh/media/talk-to-sales-N2GDBAGC.svg");
        background-repeat: no-repeat;
        background-position: 180px 0px;
        background-color: #e2f7e3;
        background-clip: content-box;
      }
      .talktosale-btn{
      
        padding: 6px 0px;
        width: 130px;
        /* margin-right: 12px;  */
      }
      
      .footer-content{
        padding: 12px;
      }
    }
      @media only screen and (max-width:510px){
        .talk-to-sales{
          width: 80%;
          background-size: 100%;
          background-image: url("https://printify.com/pfh/media/talk-to-sales-N2GDBAGC.svg");
          background-repeat: no-repeat;
          background-position: 120px 0px;
          background-color: #e2f7e3;
          background-clip: content-box;
        }
      
        .talktosale-btn{
         
          padding: 5px 0px; 
          width: 160px;
          /* margin-right: 12px;  */
         }
         .financials_explantion-table {
        
          padding: 20px;
         }
        }
         @media only screen and (max-width:400px){
          .talktosale-btn{
            padding: 8px 0px;
            width: 180px;
          }
          .talk-to-sales{
            width: 80%;
            background-size:100%;
            background-image: url("https://printify.com/pfh/media/talk-to-sales-N2GDBAGC.svg");
            background-repeat: no-repeat;
            background-position: 97px  10px;
            background-color: #e2f7e3;
            background-clip: content-box;
          }
        
         }
         @media only screen and (max-width:440px){
          .talktosale-btn{
            padding: 8px 0px;  
            width: 22 0px;
          }
          .talktosalestext{
            font-size: 14px;
          }
          .financials_explantion-table {
            padding: 10px;
          }
          .footer-content{
            display: flex;
            justify-content: start;
            align-items: start  ;
          }
          .talk-to-sales{
            width: 80%;
            background-size:100%;
            background-image: url("https://printify.com/pfh/media/talk-to-sales-N2GDBAGC.svg");
            background-repeat: no-repeat;
            background-position: 97px  0px;
            background-color: #e2f7e3;
            background-clip: content-box;
          }
         }
         @media only screen and (max-width:380px){
          .header{
            height: 100px;
          }
          .header-btn{
            padding: 0px 0px;
          }
          .talktosale-btn{
            width: 250px;
            padding: 10px  0px;
          }
          .talk-to-sales{
            width: 80%;
            background-size:140%;
            background-image: url("https://printify.com/pfh/media/talk-to-sales-N2GDBAGC.svg");
            background-repeat: no-repeat;
            background-position: 30px  0px;
            background-color: #e2f7e3;
            background-clip: content-box;
          }
           .header-btn{

            display: flex;
            flex-direction: column;
            padding: 0px 0px;
            gap: 2px;
            width: 100px;
        
            /* height: 50px; */

           }
           .login-btn{
            /* border: 2px solid red ; */
            height: 30px;
            width: 100px;
            padding: 0px 20px ;
           }
           .signup-btn{
            /* border: 2px solid red ; */
            height: 30px;
            width: 100px;
          
           }
           .rating{
            display: flex;
            flex-wrap: wrap;
           }
           .main-banner-btn{
            /* border: 2px solid red; */
            padding: 0px;
            gap: 4px  ;
            width: 300px;
            justify-content: space-evenly;
           }
           .startbtn{
            padding: 0px 21px ;
           }
           .playbtn{
            /* gap: 10; */
            padding: 0px 12px;
           }
           .icons{
            display: flex;
            flex-wrap: wrap;
           }
           .below-header{
            margin-top: 25%;
           }
         }
    
  





